<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fore/common :: head"></head>

<body>
<div th:replace="fore/common :: header"></div>
<section class="container">
    <div class="wrapper">
        <div class="content">
            <div class="breadcrumb-bar cf">
              <h2><i class="icon iconfont icon-gears"></i><span th:text="${change_trade_pwd_1}"></span></h2>
            </div>
            <div class="reg-box form-box">
                <form name="reg-form" method="post" th:action="@{/fore/user/changeTradePassword}">
                    <div class="form-box-bd">
                        <div class="field"><label for="" class="ui-label">*<span th:text="${change_trade_pwd_2}"></span>：</label>
                            <input type="password" class="ui-input" th:placeholder="${change_trade_pwd_2}" name="oldPassword" required>
                        </div>
                        <div class="field"><label for="" class="ui-label">*<span th:text="${change_trade_pwd_3}"></span>：</label>
                            <input type="password" class="ui-input" th:placeholder="${change_trade_pwd_3}" name="password" required>
                        </div>
                        <div class="field"><label for="" class="ui-label">*<span th:text="${change_trade_pwd_4}"></span>：</label>
                            <input type="password" class="ui-input" th:placeholder="${change_trade_pwd_4}" name="affirmPassword" required>
                        </div>
                        <div class="field btn-field">
                            <button type="button" onclick="toModfiy()" class="ui-btn primary-btn" th:text="${change_trade_pwd_5}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        2017 © <span th:text="${change_trade_pwd_6}"></span>. ALL Rights Reserved.
    </div>
</footer>
</body>

<input type="hidden" id="tip" th:value="${tip}">
<div id="dialog-confirm" th:title="${change_trade_pwd_7}">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        <b th:text="${tip}"></b>
    </p>
</div>

<div id="dialog-confirm1" th:title="${change_trade_pwd_8}" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        <b th:text="${change_trade_pwd_9}"></b>
    </p>
</div>
<script th:inline="javascript">
    var change_trade_pwd_10 = [[${change_trade_pwd_10}]];
    var change_trade_pwd_11 = [[${change_trade_pwd_11}]];
    var change_trade_pwd_12 = [[${change_trade_pwd_12}]];
	
    $(function () {
        if ($('#tip').val() != '' && $('#tip').val() != null){
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    OK: function() {
                        if ($('#tip').val() == '修改成功'){
                            window.location.href = "/"
                        }else {
                            $( this ).dialog( "close" );
                        }

                    }
                }
            });

        }
    });
    

    function toModfiy() {
        var buttons = `{
            "${change_trade_pwd_10}": function(){
                $(".ui-dialog-buttonpane button:contains('${change_trade_pwd_10}')").button("disable");
                $(".ui-button:contains('${change_trade_pwd_10}')").text('${change_trade_pwd_11}');
                $("form").submit();
            },
            "${change_trade_pwd_12}": function () {
                $( this ).dialog( "close" );
            }
        }`


         buttons = eval('(' + buttons + ')');

        $( "#dialog-confirm1" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: buttons
        });
    }
</script>
</html>
