<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="admin/common :: head"></head>
<div class="admin-biaogelist">
    <div class="fbneirong">
        <strong>首页->资源列表页</strong>
    <form class="am-form am-g" th:action="@{/admin/sys/resource/list}">
        <div class="am-form-group am-cf">

            <div class="zuo" style="width: 6%;">资源名称:</div>
            <div class="you" style="width: 160px;">
                <input type="text" class="am-input-sm" name="name" placeholder="资源名称" th:value="${query.name}"/>
            </div>

            <div class="zuo">pid:</div>
            <div class="you" style="width: 160px;">
                <input type="text" class="am-input-sm" name="pid" placeholder="pid" th:value="${query.pid}"/>
            </div>

            <div class="zuo" style="width: 80px;">
                <button type="submit" class="am-btn am-btn-success am-radius">查询</button>
            </div>
        </div>

        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
            <tr class="am-success">
                <th class="table-author am-hide-sm-only">资源ID</th>
                <th class="table-author am-hide-sm-only">父ID</th>
                <th class="table-author am-hide-sm-only">资源名称</th>
                <th class="table-author am-hide-sm-only">资源URI</th>
                <th class="table-author am-hide-sm-only">资源图标</th>
                <th class="table-author am-hide-sm-only">资源描述</th>
                <th class="table-author am-hide-sm-only">创建时间</th>
                <th class="table-author am-hide-sm-only">最后修改时间</th>
                <th width="160px" class="table-set">
                    操作
                    <a th:href="@{/admin/sys/resource/toAdd}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="新建">
                            <span class="am-icon-plus"></span>
                        </button>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="resource, stat : ${resourceList}">
                <td th:text="${resource.id}"></td>
                <td th:text="${resource.pid}"></td>
                <td th:text="${resource.name}"></td>
                <td th:text="${resource.uri}"></td>
                <td th:text="${resource.icon}"></td>
                <td th:text="${resource.description}"></td>
                <td th:text="${#dates.format(resource.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(resource.modifyTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a th:href="@{/admin/sys/resource/toUpdate(id=${resource.id})}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="修改">
                            <span class="am-icon-pencil-square-o"></span>
                        </button>
                    </a>
                    <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="删除"
                            th:onclick="'javascript:confirmDel('+ ${resource.id} +')'">
                        <span class="am-icon-trash-o"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="admin/common :: page"></div>
    </form>
    </div>
    <div th:replace="admin/common :: foot"></div>
</div>

<div id="dialog-confirm" title="删除资源">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        确定要删除该资源吗？
    </p>
</div>

<script>
    function confirmDel(id) {
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "删除": function() {
                    $.ajax({
                        url: "/admin/sys/resource/delete",
                        type: "post",
                        data: {id: id, _csrf: $("input[name='_csrf']").val()},
                        success: function (data) {
                            if (data.indexOf("You do not have write permission for the resource.") != -1){
                                alert("You do not have write permission for the resource.");
                                return
                            }
                            window.location.href = data;
                        }
                    })
                    //window.location.href = "/admin/sys/resource/delete?id=" + id;
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
</script>
</html>