<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="admin/common :: head"></head>
<body>
<div th:replace="admin/common :: tob_bar"></div>

<div class="am-cf admin-main">

    <div th:replace="admin/common :: meun"></div>

    <div class=" admin-content">

        <div th:replace="admin/common :: nav"></div>

        <iframe id="mainFrame" name="mainFrame" width="100%" height="700px" onload="changeFrameHeight()"  th:src="@{/admin/panel}" target="_top"/>

    </div>

</div>


<script type="text/javascript">
function changeFrameHeight(){
	$(".admin-main").height($(window).height()-51);
	$(".admin-content").height($(window).height()-51);
	$("#mainFrame").height($(window).height()-57);
}
window.onresize=function(){  
     changeFrameHeight();  
} 

$(document).ready(function(){   
	changeFrameHeight(); 
});
</script>
</body>
</html>