<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fore/common :: head"></head>
<body>
<div th:replace="fore/common :: header"></div>
<section class="container">
    <div class="wrapper">
        <div class="content">
            <div class="breadcrumb-bar cf">
              <h2><i class="icon iconfont icon-gears"></i><span th:text="${reg_1}"></span></h2>
            </div>
            <div class="reg-box form-box">
              <form name="reg-form" th:action="@{/fore/reg}" method="post" th:object="${user}">
                <div class="form-box-bd">
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_2}"></span>:</label>
                      <input type="text" class="ui-input" name="userName" th:value="*{userName}" th:placeholder="${reg_3}">
                      <!--<span th:errors="*{userName}"></span>-->
                  </div>
                    <div class="field">
                        <label for="" class="ui-label">*<span th:text="${reg_4}"></span>:</label>
                      <input type="text" class="ui-input" name="bankAccountName" th:value="${bankAccountName}" th:placeholder="${reg_5}">
                  </div>
                    <div class="field">
                        <label for="" class="ui-label">*<span th:text="${reg_6}"></span>:</label>
                        <input type="text" class="ui-input" name="idCard" th:value="${idCard}" th:placeholder="${reg_7}">
                    </div>
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_8}"></span>:</label>
                      <input type="number" maxlength="15" class="ui-input" th:placeholder="${reg_9}" name="mobile" th:value="*{mobile}">
                      <!--<span th:errors="*{mobile}"></span>-->
                  </div>
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_10}"></span>:</label>
                      <input type="password" class="ui-input" name="password" th:value="*{password}">
                      <!--<span th:errors="*{password}"></span>-->
                  </div>
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_11}"></span>:</label>
                      <input type="password" class="ui-input" name="password1" th:value="*{password1}">
                      <!--<span th:errors="*{password1}"></span>-->
                  </div>
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_12}"></span>:</label>
                      <input type="text" class="ui-input" th:placeholder="${reg_13}" name="recommend" th:value="${recommend}">
                      <!--<span th:errors="*{recommendUserId}"></span>-->
                  </div>
                  <div class="field">
                      <label for="" class="ui-label">*<span th:text="${reg_14}"></span>:</label>
                      <input type="text" class="ui-input" th:placeholder="${reg_15}" name="parent" th:value="${parent}">
                      <!--<span th:errors="*{parentUserId}"></span>-->
                  </div>
                  <div class="field">
                    <label for="" class="ui-label" th:text="${reg_16}"></label>
                      <select class="ui-select" name="placeArea" th:field="*{placeArea}" style="width:200px;">
                          <option th:each="placeArea, stat : ${placeAreaEnums}" th:value="${placeArea.code}" th:text="${placeArea.name}"></option>
                      </select>
                  </div>
                  <div class="field"><label for="" class="ui-label" th:text="${reg_17}"></label>
                    <select name="productId" id="" class="ui-select" style="width:200px;">
                      <option th:each="product: ${productList}" th:value="${product.productId}" th:text="${product.level + ' ' + product.invested}" th:selected="${productId == product.productId}"></option>
                    </select>
                  </div>
                    <div class="field"><label for="" class="ui-label" th:text="${reg_18}"></label>
                        <select name="regCountry"  class="ui-select" style="width:200px;">
                            <option th:each="country: ${countryList}" th:value="${country.countryId}" th:text="${country.countryName}" th:selected="${country.countryId + '' == user.regCountry}"></option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="" class="ui-label">*<span th:text="${reg_19}"></span>:</label>
                        <input type="number" min="0" style="width: 180px;" class="ui-input" th:value="${DTFTJJYE == null ? 0 : DTFTJJYE}" placeholder="" name="DTFTJJYE">
                        <span><span th:text="${reg_20}"></span>：<b th:text="${userAsset.DTFTJJYE}"></b></span>
                    </div>
                    <div class="field">
                        <label for="" class="ui-label">*<span th:text="${reg_21}"></span>:</label>
                        <input type="number" min="0" style="width: 180px;" class="ui-input" th:value="${ZCJFYYE == null ? 0 : ZCJFYYE}" placeholder="" name="ZCJFYYE">
                        <span><span th:text="${reg_22}"></span>：<b th:text="${userAsset.ZCJFYYE}"></b></span>
                    </div>

                    <!--<span th:errors="*{regDate}"></span>-->


                    <div class="field">
                        <label for="" class="ui-label" th:text="${reg_23}"></label>
                        <input type="password" class="ui-input" placeholder="" name="tradePassword">
                    </div>

                  <!--<div class="field field-send-code"><label for="" class="ui-label">操作人验证码：</label>-->
                    <!--<input type="text" class="ui-input" placeholder="请输入操作人验证码：">-->
                    <!--<button type="button" class="send-code">获取短信验证码</button>-->
                  <!--</div>-->
                  <div class="field btn-field">
                    <button type="button" onclick="reg()" class="ui-btn primary-btn" th:text="${reg_24}"></button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        2017 © <span th:text="${reg_25}"></span>. ALL Rights Reserved.
    </div>
</footer>
</body>

<input type="hidden" id="tip" th:value="${tip}">
<div id="dialog-confirm" th:title="${reg_26}">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        <b th:text="${tip}"></b>
    </p>
</div>
<div id="dialog-confirm1" th:title="${reg_27}" style="display:none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        <b th:text="${reg_28}"></b>
    </p>
</div>

<script th:inline="javascript">
    var reg_29 = [[${reg_29}]];
    var reg_30 = [[${reg_30}]];
    var reg_31 = [[${reg_31}]];
    var reg_32 = [[${reg_32}]];
    var reg_33 = [[${reg_33}]];
    $(function () {
        if ($('#tip').val() != '' && $('#tip').val() != null){
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    OK: function() {
                        if ($('#tip').val() == reg_29){
                            window.location.href = "/"
                        }else {
                            $( this ).dialog( "close" );
                        }

                    }
                }
            });

        }
    });
    

    function reg() {

        var buttons = `{
            "${reg_30}": function(){
                $(".ui-dialog-buttonpane button:contains('${reg_30}')").button("disable");
                $(".ui-button:contains('${reg_31}')").text('${reg_32}');
                $("form").submit();
            },
            "${reg_33}": function () {
                $( this ).dialog( "close" );
            }
        }`


         buttons = eval('(' + buttons + ')');

        $( "#dialog-confirm1" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: buttons
        });
    }
    
</script>

</html>
