<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="admin/common :: head"></head>
<div class="admin-biaogelist">
    <div class="fbneirong">
        <strong>首页->系统配置新增页</strong>
        <form class="am-form" th:action="@{/admin/sys/sysConfig/add}" method="post" th:object="${sysConfig}">
            <div class="am-form-group am-cf">
                <div class="zuo"><b>*</b>配置名称：</div>
                <div class="you">
                    <input type="text" class="am-input-sm" name="key" placeholder="配置名称"  th:value="*{key}">
                    <span th:errors="*{key}"></span>
                </div>
            </div>


            <div class="am-form-group am-cf">
                <div class="zuo"><b>*</b>配置值：</div>
                <div class="you">
                    <input type="text" class="am-input-sm" placeholder="配置值" th:name="value" th:value="*{value}">
                    <span th:errors="*{value}"></span>
                </div>
            </div>

            <div class="am-form-group am-cf">
                <div class="zuo">备注：</div>
                <div class="you">
                    <input type="text" class="am-input-sm" placeholder="备注" th:name="remark" th:value="*{remark}">
                </div>
            </div>

            <div class="am-form-group am-cf">
                <div class="you" style="margin-left: 11%;">
                    <button type="submit" class="am-btn am-btn-success am-radius">提交</button>
                </div>
            </div>
        </form>

    </div>

    <div th:replace="admin/common :: foot"></div>

</div>

<script>
    $(".chosen-select").chosen();
</script>

</html>