<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fore/common :: head"></head>

<body>
<div th:replace="fore/common :: header"></div>
<section class="container">
    <div class="wrapper">
        <div class="content">
            <div class="breadcrumb-bar cf">
                <h2><i class="icon iconfont icon-gears"></i><span th:text="${shares_list_1}"></span></h2>
            </div>
            <form th:action="@{/fore/trade/sharesList}" method="post">
            <table class="ui-table ui-table2">
                <tbody>
                <tr>
                    <th th:text="${shares_list_2}"></th>
                    <th th:text="${shares_list_3}"></th>
                    <th th:text="${shares_list_4}"></th>
                    <th th:text="${shares_list_5}"></th>
                    <th th:text="${shares_list_6}"></th>
                    <th th:text="${shares_list_7}"></th>
                    <th th:text="${shares_list_8}"></th>
                </tr>
                <tr th:each="shares: ${list}">
                    <td th:text="${shares.price}"></td>
                    <td th:text="${shares.shares}"></td>
                    <td th:text="${shares.outShares}"></td>
                    <td th:text="${shares.splitCount}"></td>
                    <td th:text="${shares.lastSalePrice}"></td>
                    <td th:text="${#dates.format(shares.lastOutDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(shares.cdate, 'yyyy-MM-dd HH:mm:ss')}">3：15：22</td>
                </tr>
                </tbody>
            </table>
            <div th:replace="fore/common :: page"></div>
            </form>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        2017 © <span th:text="${shares_list_9}"></span>. ALL Rights Reserved.
    </div>
</footer>

</body>
</html>
