<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="admin/common :: head"></head>
<div class="admin-biaogelist">
    <div class="fbneirong">
    <form class="am-form am-g" th:action="@{/admin/shareTrade/list}">

        <div class="am-form-group am-cf">

            <div class="zuo" style="width: 6%;">会员名:</div>
            <div class="you" style="width: 160px;">
                <input type="text" class="am-input-sm" name="userName" placeholder="会员名" th:value="${userName}"/>
            </div>

            <div class="zuo" style="width: 80px;">
                <button type="submit" class="am-btn am-btn-success am-radius">查询</button>
            </div>
        </div>

        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
            <tr class="am-success">
                <th class="table-author am-hide-sm-only">ID</th>
                <th class="table-author am-hide-sm-only">持股信息ID</th>
                <th class="table-author am-hide-sm-only">会员名</th>
                <th class="table-author am-hide-sm-only">拆分类型</th>
                <th class="table-author am-hide-sm-only">股票类型</th>
                <th class="table-author am-hide-sm-only">价钱</th>
                <th class="table-author am-hide-sm-only">股数</th>
                <th class="table-author am-hide-sm-only">销售股数</th>
                <th class="table-author am-hide-sm-only">拆分次数</th>
                <th class="table-author am-hide-sm-only">最后销售时间</th>
                <th class="table-author am-hide-sm-only">备注</th>
                <th class="table-author am-hide-sm-only">创建时间</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="shareTrade, stat : ${shareTradeList}">
                <td th:text="${shareTrade.id}"></td>
                <td th:text="${shareTrade.shareId}"></td>
                <td th:text="${userNameList[stat.index]}"></td>
                <td th:text="${shareTrade.shareType}"></td>
                <td th:text="${shareTrade.isOriginalStake}"></td>
                <td th:text="${shareTrade.price}"></td>
                <td th:text="${shareTrade.shares}"></td>
                <td th:text="${shareTrade.sellShares}"></td>
                <td th:text="${shareTrade.splitCount}"></td>
                <td th:text="${#dates.format(shareTrade.lastSellDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${shareTrade.remark}"></td>
                <td th:text="${#dates.format(shareTrade.cdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="admin/common :: page"></div>
    </form>
    </div>
    <div th:replace="admin/common :: foot"></div>
</div>
</html>