<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="admin/common :: head"></head>
<div class="admin-biaogelist">
    <div class="fbneirong">
        <strong>首页->新闻管理列表页</strong>
    <form class="am-form am-g" th:action="@{/admin/news/list}">

        <div class="am-form-group am-cf">

            <div class="zuo" style="width: 6%;">新闻标题:</div>
            <div class="you" style="width: 160px;">
                <input type="text" class="am-input-sm" name="title" placeholder="新闻标题" th:value="${query.title}"/>
            </div>

            <!--<div class="zuo">操作人用户名:</div>-->
            <!--<div class="you" style="width: 160px;">-->
                <!--<input type="text" class="am-input-sm" name="managerName" placeholder="操作人用户名" th:value="${managerName}"/>-->
            <!--</div>-->

            <div class="zuo" style="width: 80px;">
                <button type="submit" class="am-btn am-btn-success am-radius">查询</button>
            </div>
        </div>

        <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
            <tr class="am-success">
                <th class="table-author am-hide-sm-only">新闻ID</th>
                <th class="table-author am-hide-sm-only">标题</th>
                <th class="table-author am-hide-sm-only">操作人用户名</th>
                <th class="table-author am-hide-sm-only">语言</th>
                <th class="table-author am-hide-sm-only">发布状态</th>
                <th class="table-author am-hide-sm-only">是否弹出</th>
                <th class="table-author am-hide-sm-only">创建日期</th>
                <th width="160px" class="table-set">
                    操作
                    <a th:href="@{/admin/news/toAdd}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="新建">
                            <span class="am-icon-plus"></span>
                        </button>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="news, stat : ${newsList}">
                <td th:text="${news.id}"></td>
                <td th:text="${news.title}"></td>
                <td th:text="${managerNameList[stat.index]}"></td>
                <td th:text="${news.lang == 'cn_' ? '中文' : '英文'}"></td>
                <td th:text="${news.isDelete == 0 ? '正常' : '已撤销'}"></td>
                <td th:text="${news.isPop == 0 ? '弹出' : '不弹出'}"></td>
                <td th:text="${#dates.format(news.cdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a th:href="@{/admin/news/toUpdate(id=${news.id})}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="修改">
                            <span class="am-icon-pencil-square-o"></span>
                        </button>
                    </a>

                    <a th:href="@{/admin/news/info(id=${news.id})}">
                        <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="详情">
                            <span class="am-icon-info"></span>
                        </button>
                    </a>

                    <button type="button" class="am-btn am-btn-default am-btn-xs am-round" title="删除"
                            th:onclick="'javascript:confirmDel('+ ${news.id} +')'">
                        <span class="am-icon-trash-o"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="admin/common :: page"></div>
    </form>
    </div>
    <div th:replace="admin/common :: foot"></div>
</div>

<div id="dialog-confirm" title="删除" style="display:none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        确定要删除吗？
    </p>
</div>

<script>
    function confirmDel(id) {
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "删除": function() {
                    $.ajax({
                        url: "/admin/news/delete",
                        type: "post",
                        data: {id: id, _csrf: $("input[name=_csrf]").val()},
                        success: function (data) {
                            if (data.indexOf("You do not have write permission for the resource.") != -1){
                                alert("You do not have write permission for the resource.");
                                return
                            }
                            window.location.href = data;
                        }
                    })
                    //window.location.href = "/admin/news/delete?id=" + id;
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    }
</script>
</html>